# -----------------------------------------------------------------------------
# 工作流名称: 自动化标签管理 (Autotag)
# 作用:
#   根据提交消息 (Commit Message) 中的特定关键字自动更新版本号并创建 Git Tag。
# 详细规则:
#   1. 版本递增规则:
#      - commit 消息包含 #major -> 递增主版本号 (X.0.0)
#      - commit 消息包含 #minor -> 递增次版本号 (1.X.0)
#      - commit 消息包含 #patch -> 递增修订号 (1.0.X)
#      - 默认行为 (DEFAULT_BUMP): none -> 如果不包含上述关键字，则不创建标签。
#   2. 忽略规则:
#      - 消息包含 #none -> 显式忽略当前提交，不进行任何版本操作。
#   3. 操作范围:
#      - 仅在推送 (push) 到 master 分支时触发。
#      - 标签前缀固定为 'v' (例如: v1.0.1)。
# -----------------------------------------------------------------------------
name: Autotag with Configurable Bump
on:
    push:
        branches: [master]

permissions:
    contents: write

# #major #minor #patch #none

jobs:
    autotag:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Bump and Tag
              uses: anothrNick/github-tag-action@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.AUTOTAG_PAT  }}
                  DEFAULT_BUMP: none
                  RELEASE_BRANCHES: master # 仅主分支创建标签
                  TAG_PREFIX: v # v1.0.0 格式
                  NONE_STRING_TOKEN: "#none" # 忽略特定 commit
